.location {
    text-align: center;
    color: #363636;

    h2 {
       margin: 60px auto;
       font-size: 2.25em; 
       line-height: 1.2;
    }
    img {
        width: 100%;
        margin-bottom: 40px;
    }
}