.header {
  padding: 63px 0;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  height: 56px;
  font-family: "Avenir-Book";
  color: #fff;
  position: relative;
  z-index: 10;
  font-weight: lighter;
  align-items: center;

  .logo img {
    width: 200px;
  }

  a {
    color: #fff;
  }

  .nav-items {
    display: flex;
    gap: 39px;
  }

  .isClose {
    display: none;
  }

  .isOpen {
    display: block;
    background-color: #111111;
    position: fixed;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: 50%;
    border-radius: 0 0 0 20px;
    animation-name: open;
    animation-duration: 0.6s;

    @keyframes open {
      from {
        transform: translateX(100vw);
      }
      to {
        transform: translateX(0);
      }
    }

    .nav-items {
      display: flex;
      flex-direction: column;
    }

    .mobile-menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;

      .leftIcon {
        font-size: 1.6em;
        color: #fff;
      }
    }

    .nav-items {
      font-size: 1.4em;
      margin: 25px 10px 10px 25px;
    }
  }

  .btn-mobile {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  @media screen and (max-width: 790px) {
    .logo img {
      width: 140px;
    }

    .nav-items {
    display: flex;
    gap: 20px;
  }
  }

  @media screen and (max-width: 600px) {
    nav {
      display: none;
    }

    .logo img {
      width: 150px;
    }

    .btn-mobile {
      display: block;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: 90px;

  .header {
    padding: 45px 0;

    a {
      color: #080e73;
    }

    .isOpen {
      a {
        color: #fff;
      }
    }

    .btn-mobile {
      color: #080e73;
    }
  }
}
