.platforms {
  background-color: rgba(108, 65, 255, 0.05);
  padding: 20px 0;
  color: #363636;
  .list-items {
    display: flex;

    h2 {
      font-size: 2.25em;
      line-height: 1;
      padding: 30px 0;
    }

    h4 {
      margin: 15px 0 15px 0;
      font-size: 1.12em;
    }

    .list-item {
      width: 70%;


      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 15px;
        
        .checkIcon {
          color: #6C41FF;
        }
      }
    }

    .list-banner {
      .banner {
        width: 100%;
        justify-self: end;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .platforms {
    .list-items {
      flex-direction: column;

      .list-banner {
      display: flex;
      flex-direction: column;

      .banner {
        width: 100%;
        align-self: center;
      }
    }

    .list-item {
   
      width: 100%;
    }
    }
  }
}
