.home {
  position: relative;
  background:
    url("../../../../assets/images/img-banner.png");
  min-height: 100vh;
  background-size: cover;
  box-shadow: 10px #000;

  .arrow {
    position: absolute;
    top: calc(100% - 30px);
    left: calc((100vw - 60px) / 2);
  }
}
